<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Grade Checker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login2Activity"></activity>
        <activity android:name=".View.AssignmentDetails"></activity>
        <activity
            android:name=".EditUserActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Create_Assignment" />
        <activity android:name=".View.CourseView" />
        <activity
            android:name=".UserActivity"
            android:label="@string/title_text"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Create_Class"
            android:label="@string/title_activity_create__class"
            android:theme="@style/AppTheme" />
        <activity android:name=".CreateAccountInfo" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="finalproject5">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>